%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-components-divider:before {
	content: "\e901";
  }
  ._icon-components-image:before {
	content: "\e902";
  }
  ._icon-components-text:before {
	content: "\e903";
  }
  ._icon-components-video:before {
	content: "\e904";
  }
  ._icon-contact-attach:before {
	content: "\e905";
  }
  ._icon-contact-call:before {
	content: "\e906";
  }
  ._icon-contact-create-task:before {
	content: "\e907";
  }
  ._icon-contact-email:before {
	content: "\e908";
  }
  ._icon-contact-facebook:before {
	content: "\e909";
  }
  ._icon-contact-insert:before {
	content: "\e90a";
  }
  ._icon-contact-new-activity:before {
	content: "\e90b";
  }
  ._icon-contact-note:before {
	content: "\e90c";
  }
  ._icon-contact-schedule:before {
	content: "\e90d";
  }
  ._icon-contact-text:before {
	content: "\e90e";
  }
  ._icon-contact-twitter:before {
	content: "\e90f";
  }
  ._icon-contact-website:before {
	content: "\e910";
  }
  ._icon-menu-chat:before {
	content: "\e911";
  }
  ._icon-menu-contacts:before {
	content: "\e912";
  }
  ._icon-menu-dashboard:before {
	content: "\e913";
  }
  ._icon-menu-deals:before {
	content: "\e914";
  }
  ._icon-menu-email:before {
	content: "\e915";
  }
  ._icon-menu-settings:before {
	content: "\e916";
  }
  ._icon-menu-tasks:before {
	content: "\e917";
  }
  ._icon-menu-toggle:before {
	content: "\e918";
  }
  ._icon-other-accept:before {
	content: "\e919";
  }
  ._icon-other-back:before {
	content: "\e91a";
  }
  ._icon-other-bell:before {
	content: "\e91b";
  }
  ._icon-other-close:before {
	content: "\e91c";
  }
  ._icon-other-delete:before {
	content: "\e91d";
  }
  ._icon-other-edit:before {
	content: "\e91e";
  }
  ._icon-other-emoji:before {
	content: "\e91f";
  }
  ._icon-other-more:before {
	content: "\e920";
  }
  ._icon-other-search:before {
	content: "\e921";
  }
  ._icon-settings-colleagues:before {
	content: "\e922";
  }
  ._icon-settings-integrations:before {
	content: "\e923";
  }
  ._icon-settings-notifications:before {
	content: "\e924";
  }
  ._icon-settings-tags:before {
	content: "\e925";
  }
  ._icon-components-socials .path1:before {
	content: "\e92e";
	color: rgb(194, 207, 224);
  }
  ._icon-components-socials .path2:before {
	content: "\e92f";
	margin-left: -1em;
	color: rgb(235, 239, 242);
  }
  ._icon-components-socials .path3:before {
	content: "\e930";
	margin-left: -1em;
	color: rgb(235, 239, 242);
  }
  ._icon-components-socials .path4:before {
	content: "\e931";
	margin-left: -1em;
	color: rgb(235, 239, 242);
  }
  ._icon-components-socials .path5:before {
	content: "\e932";
	margin-left: -1em;
	color: rgb(235, 239, 242);
  }
  ._icon-components-button .path1:before {
	content: "\e900";
	color: rgb(194, 207, 224);
  }
  ._icon-components-button .path2:before {
	content: "\e926";
	margin-left: -1.2626953125em;
	color: rgb(160, 174, 193);
  }
  ._icon-components-button .path3:before {
	content: "\e927";
	margin-left: -1.2626953125em;
	color: rgb(160, 174, 193);
  }
  ._icon-components-footer .path1:before {
	content: "\e928";
	color: rgb(194, 207, 224);
  }
  ._icon-components-footer .path2:before {
	content: "\e929";
	margin-left: -1.4541015625em;
	color: rgb(194, 207, 224);
  }
  ._icon-components-footer .path3:before {
	content: "\e92a";
	margin-left: -1.4541015625em;
	color: rgb(160, 174, 193);
  }
  ._icon-components-header .path1:before {
	content: "\e92b";
	color: rgb(194, 207, 224);
  }
  ._icon-components-header .path2:before {
	content: "\e92c";
	margin-left: -1.4541015625em;
	color: rgb(194, 207, 224);
  }
  ._icon-components-header .path3:before {
	content: "\e92d";
	margin-left: -1.4541015625em;
	color: rgb(160, 174, 193);
  }
  ._icon-settings-account .path1:before {
	content: "\e933";
	color: rgb(194, 207, 224);
  }
  ._icon-settings-account .path2:before {
	content: "\e934";
	margin-left: -0.9521484375em;
	color: rgb(194, 207, 224);
  }
  ._icon-settings-account .path3:before {
	content: "\e935";
	margin-left: -0.9521484375em;
	color: rgb(255, 255, 255);
  }
  